<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .btn {
            display: flex;
            position: relative;
            top: -3.5rem;
            left: 15rem;
            width: 38%;
            justify-content: space-between;
        }

        .accpet-btn {
            background-color: #17aa17;
            font-size: 1.3rem;
            padding: 0.3rem;
            font-weight: bold;
            border-radius: 1rem;
            width: 7rem;
            cursor: pointer;
        }

        .accpet-btn:active {
            transform: translateY(2px);
        }

        #search {
            color: white;
            width: 98%;
            height: 2.1rem;
            border-radius: 1rem;
            background: #a9a9a945;
            margin: 20px 0px 20px 4px;
            padding: 1rem;
            font-size: 1rem;
        }

        .cancel {
            color: red;
            font-size: 2.3rem;
            cursor: pointer;
        }

        .cancel:active {
            transform: translateY(2px);
        }

        .message-opt {
            background-color: #808080ab;
            font-size: 1.2rem;
            padding: 0.4rem;
            font-weight: bold;
            border-radius: 1rem;
            cursor: pointer;
        }

        .user-req-container,
        .user-container {
            height: 5.7rem;
        }

        #friendReq {
            box-shadow: 0px 0px 2px white;
            margin-bottom: 0.8rem;
            background: #c0c0c066;
        }

        .arrow {
            color: white;
            font-size: 1.5rem;
            cursor: pointer;
        }

        .arrow:first-child {
            display: none;
        }

        .count {
            display: inline-block;
            text-align: center;
            color: white;
            background-color: red;
            width: .7rem;
            border-radius: 50%;
            padding: .3rem;
            height: .7rem;
            line-height: 12px;
        }
    </style>
</head>

<body>
    <input type="search" name="search" id="search" placeholder="search here...">
    <div id="friendReq">
        <div style="padding: .5rem;display: flex;justify-content: space-between;">
            <p style="color: white;">
                friend requests
                <% if(friendReq.length>0) { %>
                    <span class="count">
                        <%=friendReq.length%>
                    </span>
                    <% } %>
            </p>
            <span>
                <i class="fa-solid fa-angle-up arrow"></i><i class="fa-solid fa-angle-down arrow"></i>
            </span>
        </div>
        <div id="requests" style="display: none;">
            <% for(let i=0; i<friendReq.length ; i++) { %>
                <div class="user-req-container user-container">
                    <div class="user" data-user="<%= friendReq[i]._id%>">
                        <img src="<%= friendReq[i].profile%>" alt="">
                        <span>
                            <%= friendReq[i].name%>
                        </span>
                    </div>
                    <div class="btn">
                        <button class="accpet-btn username" data-user="<%= friendReq[i]._id%>"
                            onclick="acceptFriendRequest(this, document.querySelector('.count').innerText)">Accpet</button>
                        <div><i class="fa-solid fa-square-xmark cancel"></i></div>
                    </div>
                </div>
                <% } %>
        </div>
    </div>
    <div id="friends">
        <% for(let i=0; i<friends.length ; i++) { %>
            <div class="user-container">
                <div class="user" data-user="<%= friends[i]._id%>">
                    <img src="<%= friends[i].profile%>" alt="">
                    <span>
                        <%= friends[i].name%>
                    </span>
                </div>
                <div class="btn">
                    <button class="message-opt" data-user="<%= friends[i]._id%>" onclick="chat(event)">Send
                        message</button>
                </div>
            </div>
            <% } %>
    </div>

    <script src="https://kit.fontawesome.com/126cda3aca.js" crossorigin="anonymous"></script>
    <script id="js">

        // showing friend request count
        const arrowIcons = document.getElementsByClassName('arrow');

        for (let i = 0; i < 2; i++) {
            document.getElementsByClassName('arrow')[i].addEventListener('click', () => {
                const requestsContainer = document.getElementById('requests');
                if (requestsContainer.style.display === 'none') {
                    arrowIcons[1].style.display = 'none';
                    arrowIcons[0].style.display = 'block';
                    requestsContainer.style.display = 'block';
                } else {
                    arrowIcons[1].style.display = 'block';
                    arrowIcons[0].style.display = 'none';
                    requestsContainer.style.display = 'none';
                }
            });
        }

        // showing user in the list of friend requests
        socket.on('friendRequest', (friendReq,count) => {
            document.getElementById('friendReq').innerHTML += `<div class="user">
                <img src="${friendReq.profile}" alt="">
                <span>
                    ${friendReq.name}
                </span>
            </div>
            <div class="btn">
                <button class="accpet-btn username" data-user="${friendReq._id}" onclick="acceptFriendRequest(this)">Accpet</button>
                <div><i class="fa-solid fa-square-xmark cancel"></i></div>
            </div>`
            document.querySelectorAll('.count')[0].innerText = count + 1
            document.querySelectorAll('.count')[1].innerText = count + 1
        })

        // accepting friend request (due to scope issue acceptFriendRequest(btn) function is moved in dashbord.ejs)

        // showing user in the list of reciever's friends
        socket.on('req Accepted', (friend) => {
            document.getElementById('friends').innerHTML += `<div class="user">
                        <img src="${friend.profile}" alt="">
                        <span>
                            ${friend.name}
                        </span>
                    </div>
                    <div class="btn">
                        <button class="message-opt" data-user="${friend._id}" onclick="chat(event)">Send
                            message</button>
                    </div>`
        })

        showUserDetails()
    </script>
</body>

</html>